@tailwind base;
@tailwind components;
@tailwind utilities;

.social-icon svg {
  height: 16px;
  width: 16px;
}
.social-icon:hover svg {
  color: black;
}

.first-letter-uppercase::first-letter {
  text-transform: uppercase;
}

.custom-selection::selection {
  color: inherit;
  text-decoration: underline;
  background-color: inherit;
}

.custom-selection:focus {
  color: inherit;
  text-decoration: underline;
  background-color: #fff;
}

.transition-height-visibility-css {
  transition:
    height 0.35s ease-in-out,
    visibility 0s ease-in-out 0.35s;
}
