@tailwind base;
@tailwind components;
@tailwind utilities;

.social-icon svg {
  height: 16px;
  width: 16px;
}
.social-icon:hover svg {
  color: black;
}

.first-letter-uppercase::first-letter {
  text-transform: uppercase;
}
